# Node modules
backend/node_modules/
node_modules/
# Logs
backend/logs/
*.log

# Environment variables
backend/.env

# OS-specific files
.DS_Store
Thumbs.db

# Build output
backend/dist/
backend/build/

# IDE files
.vscode/
.idea/
